@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4 mt-5" style="color: #368f8b">Who are we?</h1>
<p>Our mission is to create a database full of books that we all love and care about!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore eveniet adipisci sequi delectus ut harum dicta, ipsam quidem doloribus numquam voluptatum maiores, maxime hic accusamus nostrum nulla sapiente neque minima.</p>
